spring:
  application:
    name: E-Prescription Core API
  datasource:
    driver-class-name: org.postgresql.Driver
  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ss
    time-zone: UTC
    
  jpa:
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8081/realms/eprescription-realm}

server:
  port: 8080
